<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Image Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Otter Art Exhibit</h1>
    <div class="gallery-container">
        <div class="gallery-track">
            {% for image in images %}
                <img src="{{ url_for('uploaded_file', filename=image) }}" alt="Gallery Image">
            {% endfor %}
        </div>
    </div>
    <br>
    <button id="play-button" class="button">Play Music</button>
    <br>
    <a href="{{ url_for('home') }}" class="button" id="back">Make Another Gallery</a>
    <br>
    <audio id="background-audio">
        <source src="{{ url_for('static', filename='nocturne.mp3') }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <script>
        document.getElementById('play-button').addEventListener('click', function() {
            var audio = document.getElementById('background-audio');
            if (audio.paused) {
                audio.currentTime = 0; // Restart the audio if needed
                audio.play();
                document.getElementById('play-button').innerText = 'Pause Music';
            } else {
                audio.pause();
                document.getElementById('play-button').innerText = 'Play Music';
            }
        });
    </script>
</body>
</html>