<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Image Gallery</title>
    </head>
    <body style = "background-color: black">
        <h1>Image Gallery</h1>
        

        <ul>
            {% for image in images %}
                <li><img src="{{ url_for('uploaded_file', filename=image) }}"></img></li>
            {% endfor %}
        </ul>

        <a href="{{ url_for('home') }}"><p>Go back</p></a>
    </body>

</html>